<div class="jumbotron text-center">
    <h1>Welcome to Student Hub</h1>
    <h3>Network with fellow students and hear about the latest enquiries!</h3>
</div>

<div class="row text-center">
    <% if user_signed_in? %>
        <div class="col-md-6">
            <div class="well">
            <h2 class="text-center">Your Profile</h2>
                <% if current_user.profile %>
                    <%= link_to "Edit Your Profile", edit_user_profile_path(current_user), class: 'btn-lg btn-block btn-default' %>
                    <%= link_to "View Your Profile", user_path(current_user), class: 'btn-lg btn-block btn-default' %>
                <% else %>
                    <p>Create your profile to start networking with students as well as the latest news from lecturers.</p>
                    <%= link_to "Create a new profile", new_user_profile_path(current_user), class: 'btn-lg btn-block btn-default' %>
                <% end %>
            </div>
        </div>        
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">The Community</h2>
                <p>Visit the community to meet other students</p>
                <%= link_to "Visit the community.", users_path, class: 'btn-lg btn-block btn-default' %>
                <br/>
            </div>
        </div>
    <% else %>
        <div class="col-md-6">
            <div class="well">
                <h2>Basic Membership</h2>
                <h4>Sign up for free and get basic access to the community!</h4>
                <br/>
                <%= link_to "Sign Up For Free!", new_user_registration_path(plan: @basic_plan), class: 'btn-lg btn-block btn-primary' %>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="well">
                <h2>Pro Membership</h2>
                <h4>For more advanced features click here for only a small monthly fee!</h4>
                <%= link_to "Sign Up For Only $10/month!", new_user_registration_path(plan: @pro_plan), class: 'btn-lg btn-block btn-success' %>
            </div>
        </div>
    <% end %>
</div>